1.x/main/SampleData/SampleLoginData/SampleLoginData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleLoginData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleLoginData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleLoginData" type="tns:SampleLoginData" />
  <xs:complexType name="SampleLoginData">
    <xs:attribute name="StatusMessage" type="xs:string" />
    <xs:attribute name="IsLoading" type="xs:boolean" />
  </xs:complexType>
</xs:schema>