1.x/main/SampleData/SampleRatingViewModel/SampleRatingViewModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleRatingViewModel" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleRatingViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleRatingViewModel" type="tns:SampleRatingViewModel" />
  <xs:complexType name="SampleRatingViewModel">
    <xs:sequence>
      <xs:element name="Ratings" type="tns:Ratings" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Ratings">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="RatingsItem" type="tns:RatingsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RatingsItem">
    <xs:attribute blend:FormatParameters="1" name="Value" type="xs:double" />
    <xs:attribute blend:Format="Colors" name="Color" type="xs:string" />
  </xs:complexType>
</xs:schema>